body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
table {
    width: 100%;
    height: 70vh;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Montserrat', sans-serif;
}
td {
    width: 25%;
    text-align: center;
    background-color: rgb(25, 25, 25);
    font-size: 24px;

}

td:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    
}
#resultArea {
    height: 30vh;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    box-sizing: border-box;
}

#result {
    background-color: blue;
    
}

#result:hover {
    background-color: rgb(51, 66, 136);
}
.highlight {
background-color: rgb(20, 20, 20);   
}
